$top-bar-color: white !default;
$top-bar-bgcolor: gray("700") !default;

.top-bar {
  background: $top-bar-bgcolor;
  color: $top-bar-color;
  font-size: 0.9rem;
  padding: 10px 0;
  &.top-bar-light {
    background-color: $top-bar-color;
    color: $top-bar-bgcolor;
    border-bottom: 1px solid gray("300");
    a.login-btn, a.signup-btn {
      color: gray("700") !important;
      span {
        display: inline-block;
      }
    }
  }
  a {
    display: inline-block;
  }
  p {
    margin-bottom: 0;
    font-size: 0.75rem;
  }
  ul {
    margin-bottom: 0;
  }
  a.login-btn, a.signup-btn, a.logout-btn {
    color: gray("200");
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none !important;
    font-size: 0.75rem;
    font-weight: 700;
    margin-right: 10px;
    cursor: pointer;
    i {
      margin-right: 10px;
    }
  }
  ul.social-custom {
    margin-left: 20px;
    li {
      padding: 0;
      margin: 0;
    }
    a {
      text-decoration: none !important;
      font-size: 0.7rem;
      width: 26px;
      height: 26px;
      line-height: 26px;
      color: gray("500");
      text-align: center;
      border-radius: 50%;
      margin: 0;
      &:hover {
        background: theme-color("primary");
        color: #fff;
      }
    }
  }
  .contact-info {
    margin-right: 20px;
    a {
      font-size: 0.8rem;
    }
  }
}