header.nav-holder.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: color("white");
  z-index: 999;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}

#navbar {
  background: color("white");
  padding-top: 0;
  padding-bottom: 0;
  .navbar-toggler {
    font-size: 0.9rem;
    padding: 10px 15px;
    border-color: gray("300");
  }
  ul ul a {
    padding-left: 0 !important;
  }
  
  .dropdown-menu {
    border-radius: 0;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
    .dropdown-item {
      padding: 0;
    }
    h5 {
      text-transform: uppercase;
      letter-spacing: 0.1em;
      padding-bottom: 5px;
      border-bottom: 1px dotted gray("400");
      margin-top: .7rem;
      margin-bottom: .5rem;
    }
    a.nav-link {
      font-size: 0.75rem;
      letter-spacing: 0.1em;
      text-transform: uppercase !important;
      border-bottom: 1px solid gray("200");
      padding: 15px 20px !important;
      &:hover {
        transform: translateX(5px);
        color: theme-color("primary");
      }
    }
  }

  .menu-large {
    position: static !important;
    
    .megamenu {
      padding: 20px;
      width: 100%;
      max-width: 1140px;
      left: 50%;
      transform: translateX(-50%);
      margin-top: -1px;
    }
    a.nav-link {
      padding: 7px !important;
      padding-left: 0 !important;
    }
  }

  .navbar-nav {
    & > li.active > a {
      background: theme-color("primary") !important;
      color: color("white") !important;
      text-decoration: none !important;
      border-color: darken(theme-color("primary"), 10.0) !important;
    }
    & > li > a {
      margin: 0;
      padding: 1.4rem 1rem 1.6rem;
      color: gray("700");
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-size: 0.9rem;
      text-decoration: none;
      border-top: .3rem solid transparent;
      &:hover {
        background: trasparentize(theme-color("primary"),0.5);
        border-color: trasparentize(theme-color("primary"),0.2);
      }
      &:focus {
        background: theme-color("primary") !important;
        color: color("white") !important;
        text-decoration: none !important;
        border-color: darken(theme-color("primary"), 10.0) !important;
      }
    }
  }
  &.nav-light .navbar-nav > li {
    &.active a.dropdown-toggle {
      &, &:hover {
        background: none !important;
        color: gray("700") !important;
        text-decoration: underline !important;
        border-color: theme-color("primary") !important;
      }
    }
    & > a:hover {
      background: none !important;
      border-color: lighten(theme-color("primary"),15.0) !important;
    }
    & > a:focus {
      background: none !important;
      color: gray("700") !important;
      text-decoration: underline !important;
      border-color: theme-color("primary") !important;
    }
  }
}

@include media-breakpoint-down(md) {
  #navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    .menu-large .megamenu {
      width: 100%;
      left: 0 !important;
      -webkit-transform: none !important;
      transform: none !important;
    }
    .navbar-collapse {
      max-height: 600px;
      overflow-y: auto;
      margin-top: 1rem;
    }
    .navbar-nav > li > a {
      padding: 0 10px;
      height: 45px;
      line-height: 45px;
      border-top: 0;
      font-size: 0.85rem;
      width: 100%;
      &:hover {
        background: trasparentize(theme-color("primary"),0.5);
        border-color: trasparentize(theme-color("primary"),0.2);
      }
    }
    .dropdown-menu {
      border: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}