#heading-breadcrumbs {
  padding: 2rem 0;
  border-top: none !important;
  border-bottom: none !important;
  .breadcrumb {
    margin-bottom: 0;
    background: none;
    font-size: 0.9rem;
  }
  h1 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 0;
  }
  li {
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
}
