.box-simple {
  margin-bottom: 40px;
  text-align: center;
  &:hover .icon-outlined {
    transform: scale(1.1);
  }
  .icon-outlined {
    color: theme-color("primary");
    border: 1px solid theme-color("primary");
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  h3 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  p {
    color: gray("500");
    margin: 20px 0;
    font-size: 0.9rem;
  }
  &.box-white {
    border: dotted 1px gray("500");
    padding: 15px 20px;
    margin-bottom: 0;
    .icon {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    p {
      color: gray("500");
      margin-bottom: 5px;
    }
  }
  &.box-dark {
    border: dotted 1px gray("500");
    padding: 15px 20px;
    margin-bottom: 0;
    color: white;
    background: gray("700");
    .icon {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 5px;
      color: white;
    }
  }
}

.same-height div[class*="col-"] {
  margin-bottom: 30px;
  .box-white, .box-dark {
    height: 100%;
  }
}

.box-image {
  position: relative;
  margin: 20px 0;
  &:hover {
    .overlay {
      opacity: 1;
    }
    h3, p, .buttons {
      opacity: 1;
      transform: none;
    }
    p {
      transition-delay: 0.1s;
    }
    .buttons {
      transition-delay: 0.2s;
    }
  } 
  .name {
    margin-bottom: 20px;
  }
  a {
    text-decoration: none !important;
  }
  h3 {
    font-size: 1.125rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transition: all 0.3s;
    opacity: 0;
    transform: translateY(-50px);
  }
  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparentize(theme-color("primary"), 0.4);
    padding: 20px;
    transition: all 0.3s;
    opacity: 0;
  }
  .buttons {
    opacity: 0;
    transition: all 0.3s;
    transform: translateY(20px);
    a {
      margin: 0 3px;
    }
  }
  p {
    transition: all 0.3s;
    opacity: 0;
    transform: translateY(20px);
  }
}

.box-image-text {
  .content {
    text-align: center;
  }
  .box-image-text p {
    color: gray("600");
    font-size: 0.9rem;
  }
}

.see-more {
  margin-top: 40px;
  p {
    font-size: 1.8rem;
    font-weight: 100;
  }
}


.box {
  margin: 80px 0;
  border-top: 1px solid gray("300");
  border-bottom: 1px solid gray("300");
  padding: 20px;
  a.btn {
    margin-top: 25px;
  }
  .box-header {
    background: gray("100");
    margin: 20px 0 20px;
    padding: 20px;
    border-top: 1px solid gray("200");
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  .box-footer {
    background: gray("100");
    margin-top: 30px;
    padding: 20px;
    border-top: 1px solid gray("200");
  }
  &.shipping-method, &.payment-method {
    margin: 0;
    margin-bottom: 20px;
    h4 {
      text-transform: uppercase;
      letter-spacing: 0.1em;
      margin-bottom: 5px;
    }
    p {
      font-size: 0.9rem;
      color: gray("700");
    }
  }
}

.box-image-text {
  margin: 15px 0;
  .image {
    position: relative;
    margin-bottom: 15px;
  }
  .overlay {
    width: 100%;
    height: 100%;
    background: transparentize(theme-color("primary"), 0.4);
    position: absolute;
    top: 0;
    opacity: 0;
    transition: all 0.5s;
    a {
      transform: translateY(30px);
      opacity: 0;
    }
    i {
      margin-right: 5px;
    }
  }
  .text {
    text-align: center;
    .intro {
      text-align: left;
      margin-bottom: 20px;
      color: gray("600");
      font-size: 0.9rem;
    }
  }
  h4 {
    margin: 10px 0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  .author-category {
    font-size: 0.75rem;
    color: gray("500");
    text-transform: uppercase;
    letter-spacing: 0.1em;
    a {
      font-weight: 500;
    }
  }
  &:hover .overlay {
    opacity: 1;
    a {
      transform: none;
      opacity: 1;
    }
  }
}

.box-footer {
  a {
    margin: 0 !important;
  }
  .right-col i {
    margin-left: 5px;
  }
  .left-col i {
    margin-right: 5px;
  }
}


@include media-breakpoint-down(sm) {
  .box-footer {
    justify-content: center !important;
  }
  .box-footer a {
    margin-bottom: 10px !important;
  }
}

.box-simple {
  margin-bottom: 40px;
  text-align: center;
  &:hover .icon-outlined {
    transform: scale(1.1);
  }
  .icon-outlined {
    color: theme-color('primary');
    border: 1px solid theme-color('primary');
    transition: all 0.3s;
  }
  h3 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  p {
    color: gray('500');
    margin: 20px 0;
    font-size: 0.9rem;
  }
  &.box-white {
    border: dotted 1px gray('500');
    padding: 15px 20px;
    margin-bottom: 0;
    .icon {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    p {
      color: gray('500');
      margin-bottom: 5px;
    }
  }

  &.box-dark {
    border: dotted 1px gray('500');
    padding: 15px 20px;
    margin-bottom: 0;
    color: #fff;
    background: gray('700');
    .icon {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 5px;
      color: #fff;
    }
  }
}
