.btn {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.btn-template-main {
  background: theme-color("primary");
  border: 1px solid theme-color("primary") !important;
  color: white !important;
  border-radius: 0 !important;
  text-decoration: none;
  &:hover, &:focus {
    background: darken(theme-color("primary"), 5);
    color: white !important;
    border-color: darkne(theme-color("primary"), 5) !important;
  }
}

.btn-template-white {
  background: white;
  color: theme-color("primary") !important;
  border: 1px solid theme-color("primary") !important;
  border-radius: 0 !important;
  text-decoration: none;
  &:hover, &:focus {
    background: theme-color("primary") !important;
    color: white !important;
  }
}

.btn-template-outlined {
  background: none;
  border: 1px solid theme-color("primary") !important;
  color: theme-color("primary");
  border-radius: 0 !important;
  text-decoration: none;
  &:hover, &:focus {
    background: theme-color("primary");
    color: white !important;
  }
}

.btn-template-outlined-white {
  background: none;
  border: 1px solid white !important;
  color: white;
  border-radius: 0 !important;
  text-decoration: none;
  &:hover, &:focus {
    background: white;
    color: theme-color("primary") !important;
  }
}


.btn-template-outlined-black {
  background: none;
  border: 1px solid gray("800") !important;
  color: gray("800");
  border-radius: 0 !important;
  text-decoration: none;
  &:hover, &:focus {
    background: gray("800") !important;
    color: #fff !important;
  }
}
