.heading, .panel-heading {
  margin-bottom: 1rem;
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    display: inline-block;
    margin-bottom: 0;
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    &:after {
      content: " ";
      display: block;
      width: 100px;
      height: 2px;
      margin-top: .6rem;
      background: theme-color('primary');
    }
  }
  &.text-center {
    h1, h2, h3, h4, h5, h6 {
      &:after {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
