$primary: #253e8e;

@import './functions';
@import './overrides';

@import '~bootstrap-scss/bootstrap';

// custom styles
a {
  transition: all 0.3s !important;
  display: inline-block;
}

.background-pentagon {
  background: url("/static/images/texture-bw.png") center center repeat;
  border-top: 1px solid gray(300);
  border-bottom: 1px solid gray(300);
}

.bar {
  padding: 60px 0;
}

@import './box';
@import './button';
@import './heading';
@import './icons';

@import '../components/components.scss';