footer.main-footer {
  padding: 60px 0;
  padding-bottom: 0;
  background: #555;
  color: #fff;
  a {
    color: inherit;
    color: #eee;
  }
  h4 {
    color: #eee;
    margin: 10px 0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  p {
    font-size: 0.9rem;
    color: #aaa;
  }
  hr {
    border: none;
    border-top: 1px solid #ddd;
    background: none;
  }
  .image {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .text {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    a {
      font-size: 0.8rem;
    }
  }
  .copyrights {
    padding: 50px 0;
    background: #333;
    color: #ccc;
    margin-top: 50px;
    a {
      color: #4fbfa8;
    }
    p {
      color: inherit;
      font-size: 0.8rem;
      margin-bottom: 0;
    }
  }
}
